<%- include('./partials/header.ejs')%>
</div>
</nav>
   <div class = "content">
      <div>Paws for Life NC is a registered 501c3 animal rescue dedicated to saving or improping the lives of homeless cats and dogs through fostering</div>
<%- include('./partials/footer.ejs')%>
