<%- include('./partials/header.ejs')%>
    <body>
        <a href='/trades/new'>Start Selling</a>
        <a href='/trades/available_breeds'>Available breeds</a>
    
    </div>
    <div class="col-2">
            <a href="/">Login</a>
            <a href="/">Sign up</a>
        </div>
        </nav>
        
        <div class = "content">
            <p>
                Welcome to Paws for Life.<br><br>
                Here you can search the dogs you would like to pet.<br><br>
                You can also sell the dogs. You must be registered on the website to be able to sell and purchase
            </p>    
            <div class="d-flex justify-content-center" ><img class="img" src="https://img.freepik.com/free-photo/group-portrait-adorable-puppies_53876-64778.jpg?w=2000" alt="Logo"/></div>
        </div>
<%- include('./partials/footer.ejs')%>
    