<footer>
    <div>
        <a href="/" class="color">Paws for life</a>&nbsp;
        <a href="/about" class="color">About</a>&nbsp;
        <a href="/contact" class="color">Contact</a>&nbsp;
    </div>
        
    <small>Copyright &copy; Paws for Life 2022</small>
</footer>
</body>

</html>