<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Paws for Life</title>
</head>
<nav>
    <div class="d-flex col-10 align-items-center">
    <img class="logo" src="https://static.wixstatic.com/media/723464_c61448f6219f4b74a5adc1bd7fcde2fb~mv2.png/v1/fill/w_292,h_206,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Paws%20for%20Life%20Logo%20Final.png" alt="Logo">

    <a href='/'>Home</a>